.btn-primary {
    background-color: #8a0303;
    border-color: #880303;
}
.btn-primary:hover {
    background-color:#9b0000;
    border-color: #880303;
}
.btn-primary:active {
    background-color:#9b0000;
    border-color: #880303;
}
.btn-primary:focus {
    background-color:#9b0000;
    border-color: #880303;
}
.header {
    background-image: url(/img/hero.jpg);
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.overlay {
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.80);
}
.logo {
    width: 40px;
    margin-bottom: 25px;
}
.header__box {
    max-width: 768px;
}
#launch {
    background-color: rgba(255, 255, 255, 0.30);
    color: black;
    border: 1px solid black;
}
.card-header {
    font-size: 18px;
    margin-bottom: 10px
}
.card {
    min-height: 430px;
}
.card-image {
    max-height: 250px !important;
}