{{ define "main" }}

<header class="header container-fluid">
    <div class="overlay min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="header__box text-center text-light">
        <img src="img/cross.png" class="logo" alt="" data-aos="zoom-in" data-aos-duration="500">
        <h1 class="display-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">Building a Biblically Faithful,<br> Gospel Sharing, Anglican Church</h1>
        <h2 class="display-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1500">in Saint-Lazare Québec</h2>
        <div class="countdown" data-aos="fade-up" data-aos-duration="800" data-aos-delay="2000">
            <h3 id="launch" class="p-3 my-3 w-50 m-auto font-weight-normal"></h3>
        </div>
        <button class="btn btn-lg btn-primary" data-aos="fade-up" data-aos-duration="800" data-aos-delay="2500" data-toggle="modal" data-target="#exampleModalCenter">Stay Tuned</button>
    </div>
</div>
</header>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Stay In Touch</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
            <form action="https://sttimothysabc.us10.list-manage.com/subscribe/post?u=1dbdfcb216021105100c9f8f8&amp;id=356368a105" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="exampleInputName">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary w-100">Subscribe</button>
              </form>
          
        </div>
      </div>
    </div>
  </div>

<main class="main container">

    <h2 class="display-3 text-center py-md-3 py-5 my-lg-5">The Vision</h2>

    <div class="row">

        <div class="col-lg-8 col-md-12">

            <h2 class="heading2">{{ .Params.vision_heading1 | safeHTML }}</h2>
            <p class="pt-2">{{ .Params.vision_text1 | safeHTML }}</p>

            <h2 class="heading2">{{ .Params.vision_heading2 | safeHTML }}</h2>
            <p class="pt-2">{{ .Params.vision_text2 | safeHTML }}</p>

            <div class="vision_box d-flex flex-row pt-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="10">
                <img src="img/cross.png" class="vision_icon" alt="">
                <h5 class="pl-3 font-weight-normal">{{ .Params.vision_option1 }}</h5>
            </div>

            <div class="vision_box d-flex flex-row pt-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="350">
                <img src="img/cross.png" class="vision_icon" alt="">
                <h5 class="pl-3 font-weight-normal">{{ .Params.vision_option2 }}</h5>
            </div>

            <div class="vision_box d-flex flex-row pt-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="700">
                <img src="img/cross.png" class="vision_icon" alt="">
                <h5 class="pl-3 font-weight-normal">{{ .Params.vision_option3 }}</h5>
            </div>

            <div class="vision_box d-flex flex-row pt-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="1000">
                <img src="img/cross.png" class="vision_icon" alt="">
                <h5 class="pl-3 font-weight-normal">{{ .Params.vision_option4 }}</h5>
            </div>

            <button class="btn btn-lg btn-primary my-5" data-toggle="modal" data-target="#exampleModalCenter">Subscribe To Our Newsletter</button>

        </div>

        <div class="col-lg-4 col-md-12" data-aos="fade-in" data-aos-duration="800">
            <img src="img/vision.jpg" alt="" class="vision_img shadow w-100">
        </div>

    </div>
</main>

<section class="whoweare container">

    <h2 class="display-3 text-center py-md-3 py-5 my-lg-5">Leadership</h2>

    <div class="row g-4">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="img/leader1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title font-weight-normal">Jonathan Camire</h4>
              <h5 class="card-title font-weight-normal">Pastor</h5>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="img/leader2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title font-weight-normal">Daniel Endresen</h4>
                <h5 class="card-title font-weight-normal">Pastor & Rector</h5>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="img/leader3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title font-weight-normal">Renaud Gagne</h4>
                <h5 class="card-title font-weight-normal">Lay Leader & Deputy Warden</h5>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="img/leader4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title font-weight-normal">Anna-Marie Heron</h4>
                <h5 class="card-title font-weight-normal">Worship Leader</h5>
              </div>
          </div>
        </div>
      </div>

</section>

<section class="values container">
    <h2 class="about__heading display-3 text-center py-md-3 py-5 my-lg-5">
        Our Values
    </h2>
<div class="row gy-5" data-aos="fade-up" data-aos-duration="800">
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about1.jpg" class="card-img-top card-image" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">SCRIPTURES</h3>
            <p class="card-text">We value the supreme authority of scripture.</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about2.jpg" class="card-img-top card-image" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">PARISH-CENTRED MINISTRY</h3>
            <p class="card-text">We value equipping parishes to be the focus for ministry and evangelism. </p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about3.jpg" class="card-img-top card-image" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">RELATIONSHIPS AND TRANSPARENCY</h3>
            <p class="card-text">We value conducting the business and ministry of the diocese based on healthy Christ-like relationships and transparency. </p>
        </div>
    </div>
</div>
</div>

<div class="row gy-3 py-4" data-aos="fade-up" data-aos-duration="800">

    <div class="col-lg-4 col-md-12">
        <div class="card">
            <img src="img/about4.jpg" class="card-img-top" alt="Our Values">
            <div class="card-body">
                <h3 class="card-header">UNITY</h3>
                <p class="card-text">We value walking together with love and respect even when differing on non-essential matters.</p>
            </div>
        </div>
    </div>

<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about5.jpg" class="card-img-top" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">ANGLICAN IDENTITY</h3>
            <p class="card-text">We value nurturing liturgical and sacramental worship in the Anglican way as expressed through the catholic, evangelical, and charismatic streams. </p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about6.jpg" class="card-img-top" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">GOVERNANCE</h3>
            <p class="card-text">We value being led by shepherd bishops who serve our parishes, province, and the worldwide communion.</p>
        </div>
    </div>
</div>
</div>
</section>
{{ end }}