{{ define "main" }}

<header class="header container-fluid">
    <div class="overlay min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="header__box text-center text-dark">
        <img src="img/cross.png" class="logo" alt="">
        <h1 class="display-4">Building a Biblically Faithful,<br> Gospel Sharing, Anglican Church</h1>
        <h2 class="display-5">in Saint-Lazare Québec</h2>
        <button class="btn btn-primary w-25 my-4">Stay Tuned</button>
    </div>
</div>
</header>
<main class="main container">
    <h2 class="about__heading display-3 text-center py-5 my-5">
        Our Values
    </h2>
<div class="row gy-5">
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about1.jpg" class="card-img-top card-image" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">SCRIPTURES</h3>
            <p class="card-text">We value the supreme authority of scripture.</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about2.jpg" class="card-img-top card-image" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">PARISH-CENTRED MINISTRY</h3>
            <p class="card-text">We value equipping parishes to be the focus for ministry and evangelism. </p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about3.jpg" class="card-img-top card-image" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">RELATIONSHIPS AND TRANSPARENCY</h3>
            <p class="card-text">We value conducting the business and ministry of the diocese based on healthy Christ-like relationships and transparency. </p>
        </div>
    </div>
</div>
</div>

<div class="row gy-3 py-4">

    <div class="col-lg-4 col-md-12">
        <div class="card">
            <img src="img/about4.jpg" class="card-img-top" alt="Our Values">
            <div class="card-body">
                <h3 class="card-header">UNITY</h3>
                <p class="card-text">We value walking together with love and respect even when differing on non-essential matters.</p>
            </div>
        </div>
    </div>

<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about5.jpg" class="card-img-top" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">ANGLICAN IDENTITY</h3>
            <p class="card-text">We value nurturing liturgical and sacramental worship in the Anglican way as expressed through the catholic, evangelical, and charismatic streams. </p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about6.jpg" class="card-img-top" alt="Our Values">
        <div class="card-body">
            <h3 class="card-header">GOVERNANCE</h3>
            <p class="card-text">We value being led by shepherd bishops who serve our parishes, province, and the worldwide communion.</p>
        </div>
    </div>
</div>
</div>
</main>
{{ end }}