.header_single {
        height: 400px;
        background-position: bottom;
        background-image: url(/img/blog.jpg);
}
.content_single {
    a {
        color: $primary;

        &:hover {
            color: black;
        }
    }
}