<script type="application/ld+json"> {
    "@context" : "http://schema.org",
    "@type" : "{{ $.Site.Params.type }}",
    "additionalType": "Anglican",
    "slogan": “Love the Lord your God with all your heart and with all your soul and with all your strength and with all your mind and love your neighbor as yourself.”,
    "telephone":"{{ $.Site.Params.phone }}",
    "image": "{{ $.Site.Params.image }}",
    "address" : {
        "@type": "PostalAddress",
        "addressLocality": "{{ $.Site.Params.city }}",
        "addressRegion": "{{ $.Site.Params.region }}",
        "postalCode": "{{ $.Site.Params.postalcode }}",
        "streetAddress": "{{ $.Site.Params.address }}" 
    },
    "name":"{{.Site.Title}}",
    "url":"{{.Site.BaseURL}}",
    "openingHours": [
    "{{ $.Site.Params.openinghour }}"]
}
</script>
  
